*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 100%;
  /* max-width: 1158px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* HEADER */

.menu-list {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}
.menu-link {
  display: flex;
  gap: 40px;
}

.address-menu {
  display: flex;
  gap: 40px;
  flex-grow: 1;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  align-self: center;
  margin-right: 76px;
}

.logo-change {
  color: var(--dark);
}

.link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding: 24px 0;
  display: block;
}
.link-after {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  color: var(--pressed-state);
}
.link-after::after {
  width: 100%;
  height: 4px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.link-menu:hover,
.link-menu:focus {
  color: var(--pressed-state);
}
.address-list {
  font-style: normal;
  margin-left: auto;
}
.address-link {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

/* MAIN */

.section-title {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin: 0 100px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  height: 56px;
  align-items: center;
  margin-top: 18px;
  justify-content: center;
  display: block;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: var(--pressed-state);
}
.button:focus {
  background-color: var(--pressed-state);
}

/* main-two */

.section-content {
  padding: 120px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-content {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.text-container {
  /* flex-basis: calc((100% - (3 * 24px)) / 4); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.title-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* main-three */

.section-title-two {
  padding-bottom: 120px;
}
.container-doing {
  flex-direction: column;
  align-items: center;
}

.title-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.photo {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.photo-item {
  width: 360px;
  height: 300px;
  display: block;
}

/* main four */

.section-four {
  background-color: var(--light);
  padding: 120px 0;
}

.team {
  display: flex;
  gap: 24px;
}

.container-people {
  align-items: center;
  gap: 8px;
  padding: 32px 0;
}
.icon-list {
  width: 40px;
  height: 40px;
}
.icons-people {
  fill: var(--light);
}
.icon-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-link:hover,
.icon-social-link:focus {
  background-color: var(--pressed-state);
}
.photo-background:first-child {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.photo-background {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.title-link-people {
  text-align: center;
  margin-bottom: 8px;
}
.text-name {
  text-align: center;
}
.icon-container-people {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

/* main five  */

.section-five {
  padding: 120px 0;
}
.title-five {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.icon-container-customers {
  display: flex;
  gap: 24px;
}
.icons-customers {
  fill: currentColor;
}
.icons-customers:hover {
  fill: #404bbf;
}
.icn-container {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.icn-customers {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  color: var(--subtle-text);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icn-customers:hover,
.icn-customers:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}
/* footer */

.footer {
  background-color: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.studio-footer {
  color: var(--light);
  display: inline-block;
}
.paragraph-white {
  line-height: 1.5;
  color: var(--light);
  letter-spacing: 0.02em;
  font-size: 16px;
  width: 264px;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-bottom: 16px;
  display: inline-block;
}
.logo-ftr-container {
  margin-right: 120px;
}
.icon-container-footer {
  display: flex;
  gap: 16px;
}
.media-ftr {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.ftr-container {
  display: block;
}
.icon-ftr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.icon-footer {
  fill: var(--light);
}

.icon-list-footer {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
}
.icon-list-footer :hover,
.icon-list-footer :focus {
  background-color: #31d0aa;
}
.icon-social-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal */
.container-form {
  margin-left: 80px;
}
.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover,
.btn-modal:focus {
  background-color: #404bbf;
  border: none;
  fill: var(--white-background);
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigator-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
}
.form-label {
  display: flex;
}
.form {
  display: flex;
  gap: 24px;
}
.input-sctn {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-background);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-background);
  padding-left: 16px;
}
.input-sctn ::placeholder {
  color: var(--white-background);
}

.form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
}

.icon-footer {
  margin-left: 16px;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 16px;
}
.cntr-form {
  margin-bottom: 8px;
}
.section-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  display: block;
  margin-bottom: 4px;
}

.form-sctn {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  outline: transparent;
}
.form-sctn:focus {
  border-color: var(--primary-brand);
}
.container-mdl {
  position: relative;
}
.icon-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--dark);
}
.form-sctn:focus + .icon-modal {
  fill: var(--primary-brand);
}

.text-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-comment:focus {
  border-color: var(--primary-brand);
}
.checkbox {
  margin-bottom: 24px;
}

.text-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}
.text-mdl {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
input:checked + label .text-mdl {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}
.modal-field {
  margin-bottom: 16px;
}
.link-modal {
  color: var(--primary-brand);
}
.button-modal {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

input:focus + label.text-mdl {
  border-color: var(--pressed-state);
}
/* portfolio */

.navigator {
  padding-top: 96px;
  padding-bottom: 120px;
}
.menu-list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  align-items: flex-start;
}
.photo-background {
  background-color: var(--white-background);
}

.portfolio-main-container {
  display: flex;
  width: calc((100% - 48px) / 3);
  height: 420px;
  flex-grow: 1;
  padding-bottom: 0px;
  flex-shrink: 0;
}
.name-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-main {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-main:hover,
.portfolio-main:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.title-link-portfolio {
  margin-bottom: 8px;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.cntr-text {
  position: relative;
  overflow: hidden;
}
.text-cntr {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  padding: 40px 32px;
  background-color: var(--primary-brand);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cntr-text:hover .text-cntr {
  transform: translateY(0%);
}
